.container {
	/* display: flex;
	flex-direction: column;
	align-items: center; */
	max-width: 500px;
}
.wrapper {
	display: flex;
	align-items: center;
	gap: 50px;
	background-color: rgba(12, 12, 12, 0.2);
	padding: 5px 10px;
	border-radius: 10px;
	margin: 1rem;
}
.textWrapper p {
	line-height: 30%;
}
.title {
	margin: 0;
}
.price {
	color: red;
	font-weight: bold;
}
