.container {
	padding: 30px 8.5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}
.title {
	color: #d1411e;
	/* margin: 0;
	padding: 10px; */
}
.desc {
	margin: 0;
	font-size: 24px;
	color: #444;
	width: 70%;
	text-align: justify;
}
.wrapper {
	padding: 0 10px;
}
.linkContainer {
	margin-top: 20px;
}
.link {
	margin-right: 12px;
	font-size: 1.2rem;
	color: #d1411e;
	font-weight: bold;
	border-bottom: 3px solid red;
}
@media screen and (max-width: 800px) {
	.container {
		padding: 20px 20px;
	}
}
